/* License information: https://adriannewu.com/fonts/Cormorant-OFL.txt */

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cormorant/Cormorant-Regular.woff2') format('woff2'),
       url('fonts/cormorant/Cormorant-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/cormorant/Cormorant-Italic.woff2') format('woff2'),
       url('fonts/cormorant/Cormorant-Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/cormorant/Cormorant-Bold.woff2') format('woff2'),
       url('fonts/cormorant/Cormorant-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/cormorant/Cormorant-BoldItalic.woff2') format('woff2'),
       url('fonts/cormorant/Cormorant-BoldItalic.woff') format('woff');
  font-display: swap;
}

/* License information: https://adriannewu.com/fonts/ProzaLibre-OFL.txt */

/*

@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/prozalibre/ProzaLibre-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/prozalibre/ProzaLibre-Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/prozalibre/ProzaLibre-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/prozalibre/ProzaLibre-BoldItalic.woff') format('woff');
  font-display: swap;
}

*/

h1 {
  font-family: 'Cormorant', serif;
  font-size: calc(20px + 2.5vw);
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: -5px;
}

body {
  font-family: 'Cormorant', serif;
  font-size: calc(10px + 0.5vw);
  font-weight: 400;
  background-color: #010101;
  color: #f7f7f7;
  margin: 0;
}

body a {
  color: #909090!important;
  text-decoration: none!important;
  transition: 0.75s;
}

a:hover {
  color: #b7b7b7!important;
  text-decoration: none!important;
  border-bottom: 1px solid #b7b7b7;
  transition: 0.75s;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  text-align: center;
}
