/* License information: https://adriannewu.com/fonts/Cormorant-OFL.txt */

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-Light.woff2') format('woff2'),
			 url('fonts/Cormorant-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-LightItalic.woff2') format('woff2'),
			 url('fonts/Cormorant-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-Regular.woff2') format('woff2'),
			 url('fonts/Cormorant-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-Italic.woff2') format('woff2'),
			 url('fonts/Cormorant-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-SemiBold.woff2') format('woff2'),
			 url('fonts/Cormorant-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'),
			 url('fonts/Cormorant-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-Bold.woff2') format('woff2'),
			 url('fonts/Cormorant-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('fonts/Cormorant-BoldItalic.woff2') format('woff2'),
			 url('fonts/Cormorant-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

/* License information: https://adriannewu.com/fonts/ProzaLibre-OFL.txt */

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ProzaLibre';
	src: url('fonts/ProzaLibre-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

header {
	font-family: 'Cormorant', serif;
	font-size: calc(20px + 2.5vw);
	font-weight: 700;
}

body {
	font-family: 'ProzaLibre', sans-serif;
	font-size: calc(10px + 0.5vw);
	font-weight: 400;
	background-color: #010101;
	color: #f7f7f7;
	margin: 0;
}

body a {
	color: #909090!important;
	text-decoration: none!important;
	transition: 0.75s;
}

a:hover {
	color: #b7b7b7!important;
	text-decoration: none!important;
	border-bottom: 1px solid #b7b7b7;
	transition: 0.75s;
}

.center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
	text-align: center;
}
